.submit {
    margin-left: 20px;
    margin-top: 10px;
}

.submitted {
    margin-left: 20px;
    margin-top: 40px;
    color: green;
}

.error {
    margin-left: 20px;
    margin-top: 40px;
    color: rgb(158, 22, 22);
}