<ion-header>
  <ion-toolbar>
    <ion-title>Task</ion-title>

    <!-- Hamburger -->
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background">
    <ion-grid >
      <ion-row *ngFor="let b of tasks; let i = index">
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Subject name: {{b.subject.nameSubject}}</ion-card-subtitle> 
              <ion-card-subtitle>Limit day: {{b.dateTask}}</ion-card-subtitle>
              <ion-card-title>{{b.nameTask}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{b.descriptionTask}}
            </ion-card-content>
            
            <ion-button color="warning" class="left-buttons" (click)="modifyTask(b.idTask)">Modify</ion-button>
            <ion-button color="danger" class="left-buttons" (click)="deleteTask(b.idTask)">Delete</ion-button>
            <ion-button (click)="taskDetails(b.idTask)" class="details" color="primary">Details</ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-button color="secondary" (click)="addAnotherTask()">Add another task</ion-button>
</ion-content>


<!-- <ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1 id="super-bike-title">Hello Super bike fan!!!</h1>
       
    <div *ngFor="let b of tasks">
      <p>{{b.idSubject}}, {{b.nameTask}}<ion-button color="primary" (click)="deleteTask(b.idTask)">Delete</ion-button></p>
    </div>

    <p *ngIf="myTask">La bicicleta 3 es del modelo: {{myTask.nameTask}}</p>

    <ion-button color="secondary" (click)="addAnotherTask()">Add another task</ion-button>
    <ion-button color="secondary" (click)="addAnotherTaskUsingJSON()">Add another bicycle Using JSON</ion-button>
  </div>
  <p>hola</p>
</ion-content> -->